*{
    box-sizing: border-box;
    margin: 0;
   
}

.container{
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 50px;
}

#result{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)inset;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: rgb(249, 37, 14);
    color: white;
}

.number .decimal{
    background-color: #fff;
    color: #333;
}
.operator{
    background-color: rgb(80, 80, 251);
    color: white;
}

.equals{
    background-color: #51ff00;
    color: white;
    grid-row: span 3;
}